@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');
#particles-js{
    height: 100vh;
    width: 100%;
    /* z-index: -1; */
    background-color: #010816;
}
.ml3 {
    font-size: 3em;
    
}
.navb {
    position: absolute;
    width: 100%;
    z-index: 10;
    /* top: 38%; */
    margin: -308px 0 0 -210px;
    font-family: 'Titillium Web';
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
  }
  
  .navb * {
    box-sizing: border-box;
    transition: all .35s ease;
  }
  
  .navb li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    /* paddin: 0; */
  }
  
  .navb a {
    padding: .5em .8em;
    color: rgb(255, 255, 255);
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }
  
  .navb a::before,
  .navb a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
  
  .navb a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #047cfc;
    border-right: 3px solid #0484fc;
    transform: translate(-100%, 50%);
  }
  
  .navb a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #047cfc;
    border-left: 3px solid #0484fc;
    transform: translate(100%, -50%)
  }
  
  .navb a:hover:before,
  .navb a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  
  .navb a:hover {
    color: #04a1fc;
  }


/* .navb{
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 38%;
    margin: -210px 0 0 -210px;
    z-index: 100;
} */
.panel{
    position: absolute;
    z-index: 10;
    width: 400px;
    top: 50%;
    left: 50%;
    margin: -210px 0 0 -210px;
    z-index: 100;
}
@media (max-width: 768px) {
    .panel{
        width: 250px;
        margin: -150px 0 0 -130px;
    }
}
body{
    background: #e2e2e2;
}
    /* CARD DESARROLLO */
.bg-card-desarrollo{
    background: rgb(117,127,154);
    background: linear-gradient(328deg, rgba(117,127,154,1) 0%, rgba(215,221,232,1) 100%);
    border-radius: 15px;
}
.bg-card-desarrollo span{
    color: #757F9A;
    text-shadow: 0px 2px 8px #707070a8;   
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color:  #707070;
    font-size: 30px;
}
.bg-card-desarrollo p{
    color: #707070;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.367);   
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:  #757F9A;
    font-size: 20px;
    line-height: 1.5rem;
    margin-bottom: 0px;
}
    /* CARD GESTION */
.bg-card-gestion{
    background: rgb(189,195,199);
    background: linear-gradient(137deg, rgba(189,195,199,1) 0%, rgba(44,62,80,1) 100%);
    border-radius: 15px;
}
.bg-card-gestion span{
    color: #2C3E50;
    text-shadow: 0px 2px 8px #707070a8;   
    font-size: 30px;
}
.bg-card-gestion p{
    color: #BDC3C7;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.367); 
    font-size: 20px;
    line-height: 1.5rem;
    margin-bottom:40px;
}
    /* CARD-SEGUIMIENTO */
.bg-card-seguimiento{
    background: rgb(55,59,68);
    background: linear-gradient(137deg, rgba(55,59,68,1) 0%, rgba(66,134,244,1) 100%);
    border-radius: 15px;
}
.bg-card-seguimiento span{
    color: #4286F4;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.427);   
    -webkit-text-stroke-width: 0.5px;

    -webkit-text-stroke-color:  #777777;
    font-size: 30px;
}
.bg-card-seguimiento p{
    color: #B6B7B9;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.367);   
    font-size: 20px;
    line-height: 1.5rem;
    margin-bottom: 55px;
}
/* CARD-TRANSPARENCIA */
.bg-card-transparencia{
    background: rgb(83,105,118);
    background: linear-gradient(137deg, rgba(83,105,118,1) 0%, rgba(41,46,73,1) 100%);
    border-radius: 15px;
}
.bg-card-transparencia span{
    color: #9FA4BF;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.427);   
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:  #707070;
    font-size: 30px;
}
.bg-card-transparencia p{
    color: #B7AFAF;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.367);   
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:  #536976;
    font-size: 20px;
    line-height: 1.5rem;
    margin-bottom: 55px;
}
.bg-section{
    background-image: url(../IMG/bg-section.jpg);
    background-position:center ;
    background-size: cover;
    height: 90vh;
}
.bg-section2{
    background-image: url(../IMG/img-aside.png);
    background-position:center ;
    background-size: cover;
    /* height: 90vh; */
}
.bg-trazo{
    background-image: url(../IMG/Trazado.png);
    background-size: cover;
    background-position:center ;
    /* height: 60vh; */
    /* padding-top: 1rem; */
}

.bg-gradiente{
    background-color: #eeeeee;
    background-image: linear-gradient(275deg, #eeeeee 0%, #b1b1b1 100%);
}
.bg-section-5{
    background-image: url(../IMG/Section-5.jpg);
    background-position:center ;
    background-size: cover;
    height: 65vh;
}
.bg-logo{
    background: url(../IMG/LogoCS-opaco.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px;
}
.margen{
    margin-right: 0.1px;
    margin-left: 0.1px;
}
.titulo-header{
    color: #7bc9ff;
}
.titulo-section1{
    color: #0484fc;
}
.titulo-card{
    color: #3174a2;
}
.texto-card{
    color:#102c7c;
}

.bg-section{
    background-color: #eeeeee;
}
.text-shadow{
    text-shadow: 0px 3px 6px #000000;
}
.planes-1{
    color: #4a4a4a;
    border-color: #4a4a4a!important;
    border-radius: .9rem;
    background-color: #eeeeee;
}
.bg-planes-1{
    background-image: url(../IMG/Etiqueta-1.png);
    background-repeat: no-repeat;
    background-position: 90% 0%;
    background-size: 10%;
}
.planes-2{
    color: #102c7c;
    border-color: #102c7c!important;
    border-radius: .9rem;
    background-color: #eeeeee;
}
.bg-planes-2{
    background-image: url(../IMG/Etiqueta-2.png);
    background-repeat: no-repeat;
    background-position: 90% 0%;
    background-size: 10%;
}
.planes-3{
    color: #0484fc;
    border-color: #0484fc!important;
    border-radius: .9rem;
    background-color: #eeeeee;
}
.bg-planes-3{
    background-image: url(../IMG/Etiqueta-3.png);
    background-repeat: no-repeat;
    background-position: 90% 0%;
    background-size: 10%;
}
.btn-1{
    color: #fff;
    background-color: #4a4a4a;
    border-color: #4a4a4a;
}
.btn-2{
    color: #fff;
    background-color: #102c7c;
    border-color: #102c7c;
}
.btn-3{
    color: #fff;
    background-color: #0484fc;
    border-color: #0484fc;
}

.bg-footer{
    background-color: #c5c5c5;
}


.transicion-cards{
    transition: transform .5s;
}
.transicion-cards:hover{
    transform: scale(1.1); 
}
.transicion-planes{
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
    /* transition: 0.4s linear; */
}
.transicion-planes:hover{
    box-shadow: 0 .5rem 1rem rgb(56, 56, 56)!important;
}
.border-right{
    border-right: 1px solid;
    border-color: #6c757d!important;
}
.border-left{
    border-left: 1px solid;
    border-color: #6c757d!important;
}
@media (max-width: 991px) {
    .border-right{
        border-right: none;
    }
    .border-left{
        border-left: none;
    }
    
} 

