@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');
#particles-js{
    height: 100vh;
    width: 100%;
    /* z-index: -1; */
    background-color: #010816;
}
.ml3 {
    font-size: 3em;
}
.panel{
    position: absolute;
    z-index: 10;
    width: 400px;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -200px;
    z-index: 100;
}


.navb {
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 6%;
    /* margin: -308px 0 0 -210px; */
    font-family: 'Titillium Web';
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
  }

  .navb * {
    box-sizing: border-box;
    transition: all .35s ease;
  }

  .navb li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    /* paddin: 0; */
  }

  .navb a {
    padding: .5em .8em;
    color: rgb(255, 255, 255);
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }

  .navb a::before,
  .navb a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }

  .navb a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #047cfc;
    border-right: 3px solid #0484fc;
    transform: translate(-100%, 50%);
  }

  .navb a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #047cfc;
    border-left: 3px solid #0484fc;
    transform: translate(100%, -50%)
  }

  .navb a:hover:before,
  .navb a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }

  .navb a:hover {
    color: #04a1fc;
  }


/* .navb{
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 38%;
    margin: -210px 0 0 -210px;
    z-index: 100;
} */
body{
    background: #e2e2e2;
}
    /* CARD DESARROLLO */
.bg-section-cards{
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-card-desarrollo{
    background: #EBEBEB;
    background: linear-gradient(137deg, #EBEBEB 0%, rgba(215,221,232,1) 100%);
    border-radius: 15px;
}
.bg-card-desarrollo span{
    color: #2d2c2c;
    text-shadow: 0px 2px 8px #0c0c0c5a;
    /* -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color:  #707070; */
    font-size: 30px;
}
.bg-card-desarrollo p{
    color: #000000;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.367);
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:  #757F9A; */
    font-size: 20px;
    line-height: 1.5rem;
    margin-bottom: 20px;
}
.transicion-desarrollo{
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
}
.transicion-desarrollo:hover{
     background: rgb(117,127,154);
    background: linear-gradient(328deg, rgba(117,127,154,1) 0%, rgba(215,221,232,1) 100%);
}
@media(min-width:1030px){
    .bg-card-desarrollo p{
        margin-bottom: 0px;
    }
}
    /* CARD GESTION */
.bg-card-gestion{
    background: #EBEBEB;
    background: linear-gradient(137deg, #EBEBEB 0%, rgba(215,221,232,1) 100%);
    border-radius: 15px;
}
.bg-card-gestion span{
    color: #2C3E50;
    text-shadow: 0px 2px 8px #707070a8;
    font-size: 30px;
}
.bg-card-gestion p{
    color: #2C3E50;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.367);
    font-size: 20px;
    line-height: 1.5rem;
    margin-bottom:40px;
}
.transicion-gestion{
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
}
.transicion-gestion:hover{
    background: rgb(189,195,199);
    background: linear-gradient(137deg, rgba(189,195,199,1) 0%, rgba(44,62,80,1) 100%);
}
    /* CARD-SEGUIMIENTO */
.bg-card-seguimiento{
    background: #EBEBEB;
    background: linear-gradient(137deg, #EBEBEB 0%, rgba(215,221,232,1) 100%);
    border-radius: 15px;
}
.bg-card-seguimiento span{
    color: #4286F4;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.184);
    /* -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:  #777777; */
    font-size: 30px;
}
.bg-card-seguimiento p{
    color: #4286F4;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.367);
    font-size: 20px;
    line-height: 1.5rem;
    margin-bottom: 55px;
}
.transicion-seguimiento{
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
}
.transicion-seguimiento:hover{
    background: rgb(55,59,68);
    background: linear-gradient(137deg, rgba(55,59,68,1) 0%, rgba(66,134,244,1) 100%);
}
    /* CARD-TRANSPARENCIA */
.bg-card-transparencia{
    background: #EBEBEB;
    background: linear-gradient(137deg, #EBEBEB 0%, rgba(215,221,232,1) 100%);
    border-radius: 15px;
}
.bg-card-transparencia span{
    color: #4c4c4c;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.237);
    /* -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color:  #707070; */
    font-size: 30px;
}
.bg-card-transparencia p{
    color: #4c4c4c;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.367);
    /* -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color:  #536976; */
    font-size: 20px;
    line-height: 1.5rem;
    margin-bottom: 55px;
}
.transicion-transparencia{
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
}
.transicion-transparencia:hover{

    background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(328deg, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(328deg, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.rectangulo{
    position:relative;
    left: 100px;
    width: 150px;
    height: 500px;
    background-color: #202C4C;
    /* z-index: -1; */
}
.img-z-index{
    position: relative;
    z-index: 1;
}

.bg-section{
    background: url(../IMG/bg-section.png);
    background-position: 80px;
    background-size: 600px 700px;
    background-repeat: no-repeat;
}
.section-video *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.section-video{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
.video{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
video{
    width: 100%;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    /* background-color: #000000; */
background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: .3;
}

.bg-section2{
    background-image: url(../IMG/img-aside.png);
    background-position:center ;
    background-size: cover;
    /* height: 90vh; */
}
.bg-trazo{
    background-image: url(../IMG/Trazado.png);
    background-size: cover;
    background-position:center ;
    /* height: 60vh; */
    /* padding-top: 1rem; */
}
.tama単o-fuente p{
    font-size: 1.25rem;
}
.tama単o-fuente span{
    font-size: 1.6rem;
}
.bg-section-5{
    background-image: url(../IMG/Section-5.jpeg);
    background-position:center ;
    background-size: cover;
    height: 65vh;
}
.bg-logo{
    background: url(../IMG/LogoCS-opaco.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px;
}
.margen{
    margin-right: 0.1px;
    margin-left: 0.1px;
}
.btn-menu{
    background-color:#005AA7;
}
.titulo-header{
    color: #7bc9ff;
}
.titulo-card{
    color: #3174a2;
}
.texto-card{
    color:#102c7c;
}

.bg-section{
    background-color: #eeeeee;
}
.text-shadow{
    text-shadow: 1px 2px 6px #0000009b;
}
.planes-1{
    color: #4a4a4a;
    border-color: #4a4a4a!important;
    border-radius: 15px;
    background-color: #eeeeee;
}
.bg-planes-1{
    background-image: url(../IMG/Etiqueta-1.png);
    background-repeat: no-repeat;
    background-position: 90% 0%;
    background-size: 10%;
}
.planes-2{
    color: #102c7c;
    border-color: #102c7c!important;
    border-radius: 15px;
    background-color: #eeeeee;
}
.bg-planes-2{
    background-image: url(../IMG/Etiqueta-2.png);
    background-repeat: no-repeat;
    background-position: 90% 0%;
    background-size: 10%;
}
.planes-3{
    color: #0484fc;
    border-color: #0484fc!important;
    border-radius: 15px;
    background-color: #eeeeee;
}
.bg-planes-3{
    background-image: url(../IMG/Etiqueta-3.png);
    background-repeat: no-repeat;
    background-position: 90% 0%;
    background-size: 10%;
}
.btn-1{
    color: #fff;
    background-color: #4a4a4a;
    border-color: #4a4a4a;
}
.btn-2{
    color: #fff;
    background-color: #102c7c;
    border-color: #102c7c;
}
.btn-3{
    color: #fff;
    background-color: #0484fc;
    border-color: #0484fc;
}

.bg-planes-1, .bg-planes-2, .bg-planes-3{
    position: relative;
    z-index: 1;
}
.bg-titulo-planes{
    background-color: #083A8B;
    color: #fff;

}
.bg-titulo-planes p{
    color:#102C7C;
}
.relative, .bg-titulo-planes{
    position: relative;
}
.relative{
    top: -20px;
    z-index: 1;
}
.aside-planes{
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-footer{
    background-color: #c5c5c5;
}
.transicion-cards{
    transition: transform .5s;
}
.transicion-cards:hover{
    transform: scale(1.1);
}
.transicion-planes{
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
}
.transicion-planes:hover{
    box-shadow: 0 .5rem 1rem rgb(56, 56, 56)!important;
}
.border-right{
    border-right: 1px solid;
    border-color: #6c757d!important;
}
.border-left{
    border-left: 1px solid;
    border-color: #6c757d!important;
}
@media (max-width: 991px) {
    .border-right{
        border-right: none;
    }
    .border-left{
        border-left: none;
    }
    .bg-card-desarrollo p{
        margin-bottom: 0px;
    }
    .tama単o-fuente span{
        font-size: 1.9rem;
    }
    .tama単o-fuente p{
        font-size: calc(1.3rem + .6vw);
        padding: 0 3rem;
    }
    .navb a{
        color: #005AA7;
    }
}
@media (max-width: 768px) {
    .panel{
        width: 250px;
        margin: -150px 0 0 -130px;
    }
    .ml3{
        font-size: 2rem;
    }
    .rectang-responsive{
        position: relative;
        padding: 50px 0;
    }
    .bg-section{
    background: url(../IMG/bg-section.png);
    background-size: 284px 418px;
    background-repeat: no-repeat;
}
}
@media (min-width: 2070px){
    .bg-section{
        background-position: 370px;
        
    }
}